$visWidth: 550px;
$canvasWidth: $visWidth * 0.7;
$introDimension: 400px;
$introPosFromBottom: 70px;
$introPosFromLeft: 80px;
$aboutFs: 32px;

// max-width 1366
$ratio_1366: 0.7;
$visWidth_1366: $visWidth * $ratio_1366;
$canvasWidth_1366: $visWidth_1366 * 0.7;
$introDimension_1366: $introDimension * $ratio_1366;
$introPosFromBottom_1366: $introPosFromBottom * $ratio_1366;
$introPosFromLeft_1366: $introPosFromLeft * $ratio_1366;
$aboutFs_1366: $aboutFs * $ratio_1366;

// max-width 768
$ratio_768: 0.4;
$visWidth_768: $visWidth * $ratio_768;
$canvasWidth_768: $visWidth_768 * 0.7;
$introDimension_768: $introDimension * $ratio_768;
$introPosFromBottom_768: $introPosFromBottom * $ratio_768;
$introPosFromLeft_768: $introPosFromLeft * $ratio_768;
$aboutFs_768: $aboutFs * $ratio_768;

.heroContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.intro {
  position: absolute;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 20px;
  bottom: $introPosFromBottom;
  left: $introPosFromLeft;
  height: $introDimension;
  width: $introDimension;

  color: darkslateblue;
  background-color: white;
}

.canvas {
  position: relative;
  width: $canvasWidth;
  background-color: darkslateblue;
  border-right: 2px solid white;
}

.vis {
  width: $visWidth;
}

.aboutContainer {
  display: flex;
  flex-direction: column;
  font-size: $aboutFs;
  line-height: 1.4;
  font-family: "Open Sans", arial, sans-serif;

  h2 {
    font-weight: bold;
    letter-spacing: 0.15em;
    line-height: 80%;
    text-transform: lowercase;
  }

  span, a {
    font-size: 0.5em;
  }
}

.company {
  width: fit-content;
  cursor: pointer;
  &:hover {
    color: #db002a;
    font-weight: bold;
  }
}

// Laptops
@media (max-width: 1366px) {
  .canvas {
    width: $canvasWidth_1366;
  }
  .intro {
    width: $introDimension_1366;
    height: $introDimension_1366;
    bottom: $introPosFromBottom_1366;
    left: $introPosFromLeft_1366;
  }
  .vis {
    width: $visWidth_1366;
  }
  .aboutContainer {
    font-size: $aboutFs_1366;
  }
}

// Tablets
@media (max-width: 768px) {
  .heroContainer {
    flex-direction: column-reverse;
  }
  .canvas {
    width: $visWidth_1366;
    height: 250px;
    border-right: none;
    border-top: 2px solid white;
  }
  .intro {
    width: $visWidth_1366 * 0.8;
    height: $visWidth_1366 * 0.8;
    bottom: $visWidth_1366 * 0.1;
    left: $visWidth_1366 * 0.1;
  }
  .aboutContainer {
    font-size: $aboutFs_1366;
  }
}

// Tablets
@media (max-width: 375px) {
  .vis {
    width: 100%;
  }
  .heroContainer {
    flex-direction: column-reverse;
    margin-top: 90px;
  }
  .canvas {
    width: 100%;
    border-right: none;
    border-top: 2px solid white;
  }
  .intro {
    width: 100% * 0.8;
    height: 100% * 0.9;
    bottom: 100% * 0.5;
    left: 100% * 0.1;
  }
  .aboutContainer {
    font-size: 24px;
  }
}
